.blackHoverStyle:hover {
  background-color: rgb(39, 44, 48);
}

.darkGreyHoverStyle:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.lightBlueHoverStyle:hover {
  background-color: aliceblue;
}

.SignInPwd-header-container, .Signin-delete-icon-item-close, .Signin-container-final, .Signin-input-container, .Signin-container-with-or .word-container, .Signin-container-with-or .line-container-right, .Signin-container-with-or .line-container-left, .Signin-container-with-or, .Signin-container-third-part, .Signin-container-second-row, .Signin-container-first-row, .Signin-container-base {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Signin-container-with-or, .Signin-container-third-part, .Signin-container-second-row, .Signin-container-first-row, .Signin-container-base {
  width: 100%;
}

.Signin-greyBoard {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Signin-container {
  background-color: white;
  height: 650px;
  width: 600px;
  z-index: 2;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.Signin-container-first-row {
  height: 58px;
  width: 600px;
  padding: 0 18px 0 18px;
  position: relative;
}
.Signin-container-first-row .icon-delete-container {
  position: absolute;
  color: rgb(15, 20, 25);
  top: 0;
  left: 8px;
  width: 38px;
  height: 38px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}
.Signin-container-first-row .icon-delete-container:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.Signin-container-first-row .icon-logo-container {
  color: rgb(29, 155, 240);
  height: 58px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Signin-container-second-row {
  font-size: 34px;
  color: rgb(15, 20, 25);
  margin: 22px 0 22px 0;
  font-weight: 700;
  width: 294px;
  height: 40px;
}

.Signin-container-third-part {
  cursor: pointer;
  height: 44px;
  width: 300px;
  margin: 13px 0 13px 0;
}

.Signin-container-with-or {
  height: 22px;
  width: 294px;
  margin: 0 4px 0 4px;
}
.Signin-container-with-or .line-container-left {
  margin-right: 4px;
}
.Signin-container-with-or .line-container-right {
  margin-left: 4px;
}
.Signin-container-with-or .word-container {
  margin: 0 4px 0 4px;
}
.Signin-container-with-or .dotted-line {
  height: 1px;
  margin: 9px 0 9px 0;
  width: 126px;
  background-color: rgb(207, 217, 222);
  font-size: 19px;
}

.Signin-input-container {
  height: 92.67px;
  width: 294px;
  padding: 13px 0 13px 0;
}
.Signin-input-container .input-outline {
  height: 62.67px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-radius: 4px;
}
.Signin-input-container .input-position {
  height: 44.67px;
  width: 292px;
  padding: 13px 9px 9px 9px;
  margin-top: 18px;
  align-items: center;
  display: flex;
}
.Signin-input-container .input-position input {
  input-security: none;
}
.Signin-input-container label {
  position: absolute;
  left: 9px;
  top: 20px;
  font-size: 17px;
  font-weight: 400;
  color: #536471;
}
.Signin-input-container input:focus + label {
  color: rgb(29, 155, 240);
  transform: translateY(-15px);
  transform-origin: left;
  transition: 0.2s ease;
}
.Signin-input-container .input-position-disabled {
  height: 44.67px;
  width: 292px;
  padding: 13px 9px 9px 9px;
  margin-top: 18px;
  align-items: center;
  display: flex;
}
.Signin-input-container .input-outline-disabled {
  background-color: rgb(239, 243, 244);
  opacity: 0.5;
  border-color: rgb(239, 243, 244);
  color: rgb(83, 100, 113);
  position: relative;
}
.Signin-input-container input:not(:placeholder-shown) + label {
  transform: translateY(-15px);
  transform-origin: left;
}
.Signin-input-container input {
  margin: 0;
  padding: 0;
  border: none;
  height: 22.5px;
}
.Signin-input-container input:focus {
  outline: none;
}

.Signin-container-next {
  height: 40px;
  width: 294px;
  margin: 13px 0 13px 0;
}

.Signin-container-final {
  height: 22px;
  width: 294px;
  margin-top: 44px;
  font-size: 17px;
  color: rgb(83, 100, 113);
  justify-content: left;
}

.Signin-delete-icon-item-close {
  font-size: 14px;
  color: white;
  background-color: grey;
  position: absolute;
  height: 30px;
  width: 38px;
  top: 38px;
  border-radius: 2px;
}

.SignInPwd-container-top {
  width: 600px;
  height: 435px;
  display: flex;
  flex-direction: column;
}
.SignInPwd-container-top .SignInPwd-container-inputSpace {
  width: 600px;
  height: 290px;
  padding: 0 88px;
}

.SignInPwd-header-container {
  height: 84px;
  width: 424px;
  justify-content: left;
}
.SignInPwd-header-container span {
  font-size: 34px;
  color: rgb(15, 20, 25);
  font-weight: 700;
}

.SignInPwd-container-bottom {
  height: 157px;
  width: 600px;
}
.SignInPwd-container-bottom .SignInPwd-container-final {
  height: 22px;
  width: 424px;
  margin-bottom: 26px;
  margin-top: 0;
}
.SignInPwd-container-bottom .SignInPwd-container-final span {
  font-size: 17px;
}
.SignInPwd-container-bottom .SignInPwd-container-final a {
  font-size: 17px;
  font-weight: 700;
}
.SignInPwd-container-bottom .SignInPwd-container-login {
  height: 57px;
  width: 424px;
}

/*# sourceMappingURL=SigninPwd.css.map */
